{% extends "base.html" %}
{% block content %}
    <h2>Create a New Recipe Request</h2>
    <form method="POST" action="" class="p-3">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.meal_type.label(class="form-label") }}
            {{ form.meal_type(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
