{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 id="welcomeMessage">Welcome to OnlyRecipes</h1>
        <form id="searchForm" action="{{ url_for('main.search') }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" id="search_query" class="form-control" placeholder="Search by ingredients (comma-separated)" name="search_query">
                <select class="form-select" id="meal_type" name="meal_type">
                    <option value="">All</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="other">Other</option>
                </select>
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </form>
        <div id="search-results">
            <!-- Search results will be displayed here -->
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
